{#
    {
        id: string;
        label: string;
        useLabelAsPlaceholder?: boolean;
        name: "text";
        type?: "text" | "email" | "tel" | "url";
        placeholder?: string;
        hideLabel?: boolean;
    }
#}

{% set hideLabelClass = hideLabel is defined and hideLabel ? "-hidden-label" : "" %}
{% set labelAsPlaceholderClass = useLabelAsPlaceholder is defined and useLabelAsPlaceholder ? "-label-placeholder" : "" %}

<input-component web-component>
    <input
        id="{{ id }}"
        name="{{ name }}"
        type="{{ type ?? "text" }}"
        placeholder="{{ placeholder ?? "" }}"
        autocapitalize="off"
        autocomplete="off"
    />
    <label
        class="{{ hideLabelClass }} {{ labelAsPlaceholderClass }}"
        for="{{ id }}"
    >
        {{ label }}
    </label>
</input-component>