{% extends '_layouts/page' %}

{% block content %}

    <section class="block p-4">

        <h1 class="text-3xl font-bold underline text-primary-color mb-4">
            Hello world!
        </h1>

        <div class="block border rounded shadow p-4">
            {{ include("_generic-components/input-component/index.twig", {
                id: "input-component",
                label: "Placeholder",
                placeholder: "Placeholder",
                hideLabel: false,
                name: "name",
                type: "text",
            }) }}
        </div>

        <div class="block border rounded shadow p-4 mt-6">
            {{ include("_generic-components/input-component/index.twig", {
                id: "input-component",
                label: "Placeholder",
                placeholder: "Placeholder",
                hideLabel: true,
                name: "name",
                type: "text",
            }) }}
        </div>

        <div class="block border rounded shadow p-4 pt-8 mt-6">
            {{ include("_generic-components/input-component/index.twig", {
                id: "input-component",
                label: "This Placeholder Animates!",
                useLabelAsPlaceholder: true,
                name: "name",
                type: "text",
            }) }}
        </div>

        <div class="block border rounded shadow p-4 mt-6">
            {{ include("_generic-components/button/index.twig", {
                label: "Medium",
                isRounded: true,
                class: "mr-2 mt-2",
            }) }}
            {{ include("_generic-components/button/index.twig", {
                label: "Small",
                isRounded: true,
                size: "-small",
                class: "mr-2 mt-2",
            }) }}
        </div>

        <div class="block border rounded shadow p-4 mt-6">
            {{ include("_generic-components/checkbox/index.twig", {
                label: "Test",
                name: "checkbox[]",
                id: "test-checkbox-1",
                value: "1",
            }) }}
            {{ include("_generic-components/checkbox/index.twig", {
                label: "Test 2",
                name: "checkbox[]",
                id: "test-checkbox-2",
                value: "2",
            }) }}
        </div>

        <div class="block border rounded shadow p-4 mt-6">
            {{ include("_generic-components/radio/index.twig", {
                label: "Test",
                name: "radio[]",
                id: "test-radio-1",
                value: "1",
            }) }}
            {{ include("_generic-components/radio/index.twig", {
                label: "Test 2",
                name: "radio[]",
                id: "test-radio-2",
                value: "2",
            }) }}
        </div>

    </section>

{% endblock %}