{% extends '_layouts/page' %}

{% block content %}

    <section class="block p-4">

        <h1 class="text-3xl font-bold underline text-primary-color mb-4">
            Hello world!
        </h1>

        <div class="block border rounded shadow p-4">
            {{ include("_generic-components/input-component/index.twig", {
                id: "input-component-1",
                label: "Placeholder",
                placeholder: "Placeholder",
                hideLabel: false,
                name: "name1",
                type: "text",
            }) }}
        </div>

        <div class="block border rounded shadow p-4 mt-6">
            {{ include("_generic-components/input-component/index.twig", {
                id: "input-component-2",
                label: "Placeholder",
                placeholder: "Placeholder",
                hideLabel: true,
                name: "name2",
                type: "text",
            }) }}
        </div>

        <div class="block border rounded shadow p-4 pt-8 mt-6">
            {{ include("_generic-components/input-component/index.twig", {
                id: "input-component-3",
                label: "This Placeholder Animates!",
                useLabelAsPlaceholder: true,
                name: "name3",
                type: "text",
            }) }}
        </div>

        <div class="block border rounded shadow p-4 mt-6">
            {{ include("_generic-components/button/index.twig", {
                label: "Medium",
                isRounded: true,
                class: "mr-2 mt-2",
            }) }}
            {{ include("_generic-components/button/index.twig", {
                label: "Small",
                isRounded: true,
                size: "-small",
                class: "mr-2 mt-2",
            }) }}
            {{ include("_generic-components/button/index.twig", {
                label: "Shine",
                isRounded: true,
                theme: "-shine",
                class: "mr-2 mt-2",
            }) }}
        </div>

        <div class="block border rounded shadow p-4 mt-6">
            {{ include("_generic-components/checkbox/index.twig", {
                label: "Test",
                name: "checkbox[]",
                id: "test-checkbox-1",
                value: "1",
            }) }}
            {{ include("_generic-components/checkbox/index.twig", {
                label: "Test 2",
                name: "checkbox[]",
                id: "test-checkbox-2",
                value: "2",
            }) }}
        </div>

        <div class="block border rounded shadow p-4 mt-6">
            {{ include("_generic-components/radio/index.twig", {
                label: "Test",
                name: "radio[]",
                id: "test-radio-1",
                value: "1",
            }) }}
            {{ include("_generic-components/radio/index.twig", {
                label: "Test 2",
                name: "radio[]",
                id: "test-radio-2",
                value: "2",
            }) }}
        </div>

        <div class="block border rounded shadow p-4 mt-6">
            {{ include("_generic-components/textarea/index.twig", {
                id: "textarea-1",
                label: "Textarea",
                placeholder: "Placeholder",
            }) }}
            <div class="block mt-4">
                {{ include("_generic-components/textarea/index.twig", {
                    id: "textarea-2",
                    label: "Textarea",
                    hiddenLabel: true,
                    placeholder: "Placeholder",
                }) }}
            </div>
        </div>

        <div class="block border rounded shadow p-4 mt-6">
            {{ include("_generic-components/switch/index.twig", {
                id: "switch",
                label: "Switch",
                name: "switch1",
                checked: true,
            }) }}
            <div class="block mt-4">
                {{ include("_generic-components/switch/index.twig", {
                    id: "switch2",
                    label: "Switch",
                    name: "switch2",
                }) }}
            </div>
        </div>

    </section>

{% endblock %}